.counter {
    text-align: center;
    font-family: 'Arial, sans-serif';
    margin-bottom: 80px;
    padding: 30px;
    background-color: #f3f3f3;
}

.counter p {
    font-size: 24px;
    color: #2980b9;
}

.counter button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter button:hover {
    background-color: #2980b9;
}
